div {
  height: 100vh;
}

header {
  background: #5851ff;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

aside {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: calc(100% - 56px);
  border-right: 1px solid #5851ff;
}

main {
  position: relative;
  display: inline-block;
  left: 200px;
  width: calc(100% - 220px);
  padding: 10px;
}
