input[wf-element][data-error-style=true] {
    border: 1px solid black;    
}

[wf-element] {
    margin: 0 2px;
}

input[wf-element][error=true][data-error-style=true] {
    border: 1px solid var(--error-color, red);
    background-color: var(--error-bg-color, pink);
}

span {
    display: inline-block;
    color: var(--error-color, red);
}