@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

div {
  height: calc(100% - 5px);
  padding-top: 5px;
  padding-left: 5px;
  font-size: 1.2rem;
}

a {
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  line-height: 2rem;
}
